# fill in your Google Gemini API key and Twilio credentials in the .env file.
# switched to grok api from Gemini LLM due to credit limitations
GROQ_API_KEY=your-google-genai-key 

LOCATIONIQ_API_KEY=your-locationiq-key

TWILIO_ACCOUNT_SID=your-twilio-sid
TWILIO_AUTH_TOKEN=your-twilio-token
TWILIO_PHONE_NUMBER=+1234567890
PUBLIC_BASE_URL=https://your-ngrok-url
